version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "lambdas/go/*"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directories:
      - "lambdas/*"
    schedule:
      interval: "daily"
